@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

:root {
	/* Catppuccin Mocha */
	--ctp-rosewater: #f5e0dc;
	--ctp-flamingo: #f2cdcd;
	--ctp-pink: #f5c2e7;
	--ctp-mauve: #cba6f7;
	--ctp-red: #f38ba8;
	--ctp-maroon: #eba0ac;
	--ctp-peach: #fab387;
	--ctp-yellow: #f9e2af;
	--ctp-green: #a6e3a1;
	--ctp-teal: #94e2d5;
	--ctp-sky: #89dceb;
	--ctp-sapphire: #74c7ec;
	--ctp-blue: #89b4fa;
	--ctp-lavender: #b4befe;

	/* Text */
	--ctp-text: #cdd6f4;
	--ctp-subtext1: #bac2de;
	--ctp-subtext0: #a6adc8;

	/* Overlays */
	--ctp-overlay2: #9399b2;
	--ctp-overlay1: #7f849c;
	--ctp-overlay0: #6c7086;

	/* Surfaces */
	--ctp-surface2: #585b70;
	--ctp-surface1: #45475a;
	--ctp-surface0: #313244;

	/* Base (backgrounds) */
	--ctp-base: #1e1e2e;
	--ctp-mantle: #181825;
	--ctp-crust: #11111b;
}

* {
	padding: 0;
	margin: 0;
	font-family: "Fira Code", sans-serif;
	box-sizing: border-box;
}

body {
	height: 100%;
	background-color: var(--ctp-base);
	color: var(--ctp-text);
}

header {
	position: sticky;
	top: 0%;

	height: 120px;

	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 40%;

	nav {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding: 4px;

		ul {
			display: flex;
			flex-direction: row;
			gap: 32px;
			list-style: none;
			padding: 0;
			margin: 0;
			font-weight: 500;

			li a {
				position: relative;
				display: inline-block;
				color: var(--ctp-text);
				text-decoration: none;
			}
			a#active-page {
				color: var(--ctp-blue);
			}
			a#active-page::before,
			a:hover::before {
				content: "";
				background-color: var(--ctp-blue);
				border-radius: 40px;
				width: 100%;
				height: 2.5px;
				position: absolute;
				bottom: -5px;
			}
		}
	}
}

@keyframes caret_blink {
	0% {
		opacity: 0;
	}
	49.9% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

main {
	// background: green;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 3em;
	position: relative;
	section {
		width: 50%;
		// height: 60vh;
		// background: purple;

		.container {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 30%;
		}
	}
	#headers {
		padding: 1rem;
		#name::before {
			content: "> ";
			color: var(--ctp-blue);
		}
		#name::after {
			content: "_";
			animation-name: caret_blink;
			animation-duration: 1s;
			animation-iteration-count: infinite;
		}
		#title {
			margin-left: 2.5em;
			font-style: italic;
			color: var(--ctp-subtext0);
			font-size: 0.75rem;
		}
	}
	#description {
		width: 40%;
		font-size: 0.8em;
	}
	b {
		color: var(--ctp-blue);
	}
	#profile_picture {
		height: 176px;
		border-radius: 50%;
	}
	#skills {
		ul {
			list-style: none;
		}
		#skill_js {
			width: 60%;
			height: 12px;
			border-radius: 20px;
			border-style: solid;
			border-width: 1px;
			border-color: var(--ctp-surface2);
		}
		#skill_js::before {
			content: "";
			width: 40%;
			height: 100%;
			background: var(--ctp-blue);
			position: relative;
			top: 0;
		}
	}
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10%;
	.content {
		// background: red;
		width: 50%;

		li {
			list-style: none;
			a {
				text-decoration: none;
			}
		}
	}
}
